.app {
  height: 100vh;
  color: #000;
}

.content {
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  padding: 5rem 0;
}

.search-panel {
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 4px;
  background-color: #fcfaf5;
  box-shadow: 20px 20px 30px #00000026;
}
